<div class="background container round-bottom">
    <div class="fadedBorder"></div>
</div>
<div class="primaryDarkBg aboutContainer">
    <div class="infoContainer" style="padding-left: 30px; display: flex;">
        <h1 class="secondaryLight aboutTitle bold">About Jaaye</h1>
        <h3 class="primaryLight aboutInfo">
            Jaaye began in May of 2023 when Hunter Badamo and Ben Swihart teamed up and recorded their debut single, “Run Away.” 
            Following that and two additional singles, they dedicated the summer of 2023 to recording a debut album: “Head To The Sun.” 
            Josh Morton accompanied the two in numerous recording sessions, leading the band to incorporate him, as well as drummer Adam 
            Smith, into the band as well. Both an artistic vessel and a live act, Jaaye is currently recording new music, set to release 
            in spring of 2024.
        </h3>
    </div>
</div>
<div class="primaryMediumBg">
    <div class="bandContainer">
        <div class="bandHeader">
            <h1 class="primaryLight bold">Meet the band</h1>      
        </div>
        <div class="band">
            <div>
                <img src="../../images/Hunter.png">
                <h1 class="primaryLight bold">Hunter Badamo</h1>
                <h3 class="primaryLight">Vocalist/Pianist/Guitarist</h3>
            </div>           
        </div>
        <div class="band">
            <div>
                <img src="../../images/Ben.png">      
                <h1 class="primaryLight bold">Ben Swihart</h1>
                <h3 class="primaryLight">Vocalist/Bassist</h3>
            </div>
        </div>
    </div>
</div>