.background {
    background-image: url("../../images/Jaaye Photoshoot 2 (22 of 67).jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
}

.container {
    justify-content: left !important;
}

.infoContainer {
    height: 350px;
    width: 750px;
    margin: auto;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.aboutTitle {
    position: absolute;
}

.aboutInfo {
    font-weight: 500;
    margin-top: 100px;
    line-height: 30px;
}

.bandContainer {
    width: 750px;
    margin: auto;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.bandHeader {
    position: absolute;
    text-align: center;
}

.band {
    position: relative;
    padding: 50px;
    text-align: center;
    margin-top: 50px;
}

.bold {
    font-weight: bold;
}

img {
    height: 200px;
    border-radius: 100%;
}

h3 {
    padding-bottom: 20px;
}

h1 {
    padding-top: 20px;
}