<div class="fixed title">
  <mat-toolbar [ngClass]="{max: !scrolled, min: scrolled}">
    <mat-toolbar-row>
      <img src="../images/jaaye-starlight-logo.png" [ngClass]="{max: !scrolled, min: scrolled}">
      <nav class="stroke" [ngClass]="{max: !scrolled, min: scrolled}">
        <ul>
          <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>About</a></li>
          <li><a routerLink="/music" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Music</a></li>
          <li><a routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Calendar</a></li>
          <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Contact</a></li>
          <li><a href="https://linktr.ee/jaaye" target="_blank">Linktree</a></li>
        </ul>
      </nav>
      <section>
          <a class="mailingList" mat-raised-button href="https://jaaye.ck.page/subscribe2" target="_blank">Mailing List</a>
      </section>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div style="height: 100%;">
  <router-outlet></router-outlet>
</div>