<div class="fixed title">
  <mat-toolbar [ngClass]="{max: !scrolled, min: scrolled}">
    <mat-toolbar-row [ngClass]="{max: !scrolled, min: scrolled}" class="titleRow">
        <div class="left socialsPanel">
          <!--<h1>Socials here*** </h1>-->         
        </div>
        <div style="margin: auto;">
          <img src="../images/NEW jaaye logo png transparent.png" [ngClass]="{max: !scrolled, min: scrolled}">
        </div>
        <div class="right">
          <div *ngIf="!isMobile">
            <a class="mailingList" mat-raised-button href="https://jaaye.ck.page/subscribe2" target="_blank">Mailing List</a>
          </div>
          <div *ngIf="isMobile">
            <nav>
              <div class="ham-menu" (click)="toggleMenuActive()" [ngClass]="{active: menuActive}">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </nav>
            <div class="off-screen-menu" [ngClass]="{active: menuActive}">
              <ul>
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a></li>
                  <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>About</a></li>
                  <li><a routerLink="/music" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Music</a></li>
                  <li><a routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Calendar</a></li>
                  <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Contact</a></li>
                  <li><a href="https://jaaye.printify.me/products" target="_blank">Merch</a></li>
                  <li><a href="https://linktr.ee/jaaye" target="_blank">Linktree</a></li>
              </ul>
              <a class="mailingList" style="margin-top:100px;" mat-raised-button href="https://jaaye.ck.page/subscribe2" target="_blank">Mailing List</a>
            </div>
          </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!isMobile"> 
      <div style="margin: auto;">  
        <nav>
          <ul>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>About</a></li>
            <li><a routerLink="/music" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Music</a></li>
            <li><a routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Calendar</a></li>
            <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Contact</a></li>
            <li><a href="https://jaaye.printify.me/products" target="_blank">Merch</a></li>
            <li><a href="https://linktr.ee/jaaye" target="_blank">Linktree</a></li>
          </ul>
        </nav>
      </div> 
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div style="height: 100%;">
  <router-outlet></router-outlet>
  <div class="primaryDarkBg" style="height: 10px;"></div>
  <div class="footerContainer">
    <div class="primaryLightBg footerBox">
      <div>
        <span class="primaryDark footerTitle">Jaaye</span>
        <nav>
          <ul>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>About</a></li>
            <li><a routerLink="/music" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Music</a></li>
            <li><a routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Calendar</a></li>
            <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Contact</a></li>
            <li><a href="https://jaaye.printify.me/products" target="_blank">Merch</a></li>
            <li><a href="https://linktr.ee/jaaye" target="_blank">Linktree</a></li>
          </ul>
        </nav>
      </div>     
    </div>
    <div class="secondaryLightBg footerBox2"></div>
  </div>
</div>