@import './../styles.scss';

app-root {
    display: block;
    height: 100%;
}

mat-toolbar {
    background-color: $transparent !important;
    padding: 10px;
    transition: .3s;
}

mat-toolbar-row {
    transition: .3s;
}

mat-toolbar-row.max {
    height: 70px !important;
}

mat-toolbar-row.min {
    height: 60px !important;
}

nav {
    margin-left: auto;
    padding-top: 5px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    padding: .5rem;
    cursor: pointer;
    font-size: medium !important;
}

img {
    transition: .3s;
}

img.min { 
    width: 175px !important; 
}

img.max { 
    width: 275px !important; 
    margin-top: 20px;
}

section {
    margin-left: 20px;
}

a.mailingList {
    background-color: $primaryDark !important;
    color: $primaryLight !important;
    text-shadow: none !important;
    height: 50px;
}

a:hover.mailingList {
    background-color: $transparent !important;
}

.fixed {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.footerContainer {
    height: 400px;
    display: flex;
}

.footerBox {
    height: 100%;
    width: 50%
}