@import './../styles.scss';

app-root {
    display: block;
    height: 100%;
}

mat-toolbar {
    background-color: transparent !important;
    padding: 10px;
    transition: .3s;
}

mat-toolbar.max {
    background-color: transparent !important;
    padding-top: 25px;
}

mat-toolbar.min {
    background-color: $secondaryDark !important;
}

nav {
    margin-left: auto;
}

nav.max {
    color: $secondaryLight;
}

nav.min {
    color: $primaryLight;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    border-radius: 3rem;
    padding: 7px;
    background-color: $transparent;
}

nav ul li a {
    padding: .5rem;
    cursor: pointer;
    font-size: medium !important;
}

img {
    transition: .3s;
    padding-bottom: 15px;
}

img.min { 
    width: 175px !important; 
}

img.max { 
    width: 275px !important; 
}

section {
    margin-left: 20px;
}

a.mailingList {
    background-color: $primaryLight !important;
    color: $primaryDark !important;
    text-shadow: none !important;
    height: 50px;
}

a:hover.mailingList {
    background-color: $transparent !important;
}

.fixed {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.footerContainer {
    height: 400px;
    display: flex;
}

.footerBox {
    height: 100%;
    width: 50%
}