$secondaryLight: #f2d7b6;  //#f9f6ee;
$transparent: #f9f6eea1;   //#e8f0f73a; //#e8f0f76e;
$primaryLight:  #f9f6ee;    // #f2d7b6; 
$primaryMedium: #f2ca80;
$primaryDark: #d9a362;
$secondaryDark: #28190e;

body, html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}//

a, a:visited { text-decoration: none !important; color: $secondaryDark; text-shadow: 0.5px 0.5px 2px $primaryDark; }
a:hover { text-decoration: none !important; color: $secondaryDark !important; text-shadow: 0.5px 0.5px 1px $primaryDark !important; }
.active { text-decoration: none !important; color: $primaryDark !important; text-shadow: 0.5px 0.5px 1px $secondaryDark !important; border-bottom: 2px solid $primaryLight;}

.title {
    font-family: "source-sans-pro", sans-serif !important;
    font-weight: 300 !important;
    font-style: italic !important;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryLight { color: $secondaryLight; }
.primaryLight { color: $primaryLight; }
.primaryMedium { background-color: $primaryMedium; }
.primaryDark { color: $primaryDark; }
.secondaryDark { color: $secondaryDark; }

.secondaryLightBg { background-color: $secondaryLight; }
.primaryLightBg { background-color: $primaryLight; }
.primaryMediumBg { background-color: $primaryMedium; }
.primaryDarkBg { background-color: $primaryDark; }
.secondaryDarkBg { background-color: $secondaryDark; }

.bold { font-weight: bold; }
.center { text-align: center; }

.left { float:left; }
.right { float:right; }

/*
Fonts:
Title Font: Source Sans Pro
Paragraph Font: Lato
*/