$secondaryLight: #e8f0f7;
$transparent: #e8f0f744;   //#e8f0f73a; //#e8f0f76e;
$primaryLight: #a4c5e8;  //#639cd9; - commented is from colors doc - used is from current site
$primaryMedium: #13273e;
$primaryDark: #0b1623;
$secondaryDark: #101415;

body, html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}//

a, a:visited { text-decoration: none !important; color: $primaryLight; text-shadow: 0.5px 0.5px 2px $primaryDark; }
a:hover { text-decoration: none !important; color: $secondaryLight !important; text-shadow: 0.5px 0.5px 1px $primaryDark !important; }
.active { text-decoration: none !important; color: $primaryLight !important; text-shadow: 0.5px 0.5px 1px $primaryDark !important; border-bottom: 2px solid $primaryLight;}

.title {
    font-family: "source-sans-pro", sans-serif !important;
    font-weight: 300 !important;
    font-style: italic !important;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryLight { color: $secondaryLight; }
.primaryLight { color: $primaryLight; }
.primaryMedium { background-color: $primaryMedium; }
.primaryDark { color: $primaryDark; }
.secondaryDark { color: $secondaryDark; }

.secondaryLightBg { background-color: $secondaryLight; }
.primaryLightBg { background-color: $primaryLight; }
.primaryMediumBg { background-color: $primaryMedium; }
.primaryDarkBg { background-color: $primaryDark; }
.secondaryDarkBg { background-color: $secondaryDark; }

.bold { font-weight: bold; }
.center { text-align: center; }

.left { float:left; }
.right { float:right; }

/*
Fonts:
Title Font: Source Sans Pro
Paragraph Font: Lato
*/