$lightGray: #e8f0f7;
$lightGrayTransparent: #e8f0f744;   //#e8f0f73a; //#e8f0f76e;
$lightBlue: #639cd9;
$mediumBlue: #13273e;
$navy: #0b1623;
$darkBlue: #101415;

body, html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
}

a { text-decoration: none !important; color: $lightGray; text-shadow: 0.5px 0.5px 2px $navy; }
a:visited { text-decoration: none !important; color: $lightGray; }
a:hover { text-decoration: none !important; color: $lightBlue !important; text-shadow: 0.5px 0.5px 1px $navy !important; }
.active { text-decoration: none !important; color: $lightBlue !important; text-shadow: 0.5px 0.5px 1px $navy !important; }

.title {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.paragraph {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightGray { color: $lightGray; }
.lightBlue { color: $lightBlue; }
.medBlueBg { background-color: $mediumBlue; }
.navy { color: $navy; }
.darkBlue { color: $darkBlue; }

.lightGrayBg { background-color: $lightGray; }
.lightBlueBg { background-color: $lightBlue; }
.medBlueBg { background-color: $mediumBlue; }
.navyBg { background-color: $navy; }
.darkBlueBg { background-color: $darkBlue; }

.bold { font-weight: bold; }
.center { text-align: center; }

/*
Fonts:
Title Font: Source Sans Pro
Paragraph Font: Lato
*/