<div class="background container">
    <div>
        <div class="line"></div>
        <div>
            <h1 class="paragraph lightGray" style="position: absolute;">Learn more about us</h1>
        </div>
        <div class="buttonContainer">
            <a class="readMore paragraph" mat-raised-button routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} target="_self">
                <span class="material-symbols-outlined"> book_2 </span>
                Read More
            </a>
        </div>
</div>
</div>
<div style="height: 500px; background-color: black;">

</div>
