@import '../../styles.scss';

.background {
    background-image: url("../../images/Jaaye Photoshoot 2 (47 of 67).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-left: 100px;
}

.container {
    justify-content: left !important;
}

.readMoreText {
    font-size: 20px;
    text-shadow: 0.5px 0.5px 1px $secondaryDark !important;
}

a.readMore {
    background-color: $transparent !important;
    color: $secondaryDark !important;
    height: 75px;
    font-size: large;
    text-shadow: 0.5px 0.5px 1px $secondaryLight !important;
}

a:hover.readMore {
    background-color: $transparent !important;
    color: $secondaryLight !important;
    text-shadow: 0.5px 0.5px 1px $secondaryDark !important;
}

.line {
    width: 150px;
}

.buttonContainer {
    position: absolute;
    margin-top: 100px;
}

a.button {
    background-color: $primaryLight !important;
    color: $primaryDark !important;
    text-shadow: none !important;
    height: 50px;
}

a:hover.button {
    background-color: $transparent !important;
}

.infoContainer {
    height: 450px;
    width: 50%;
    display: flex;
    margin: auto;
    padding: 20px;
}

img.crashLanding {
    width: 100%;
    min-width: 200px;
    margin: auto;
}

img.intiative {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    margin: auto;
    border-radius: 25px;
}

.shortLine {
    width: 50px !important;
    height: 0;
    border: 1px solid $secondaryLight;
    margin: 3px;
    display:inline-block;
}

.stacked {
    position: relative;
}

.notStacked {
    display: inline-flex;
}

a.patreon {
    background-color: $primaryDark !important;
    color: $secondaryDark !important;
    text-shadow: none !important;
    height: 50px;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .readMoreContainer {
        height: 100%;
        vertical-align: top;
        padding-top: 100%; 
    }

    // .infoContainer {
    //     height: 450px;
    //     width: 0px;
    //     display: flex;
    //     margin: auto;
    //     padding: 20px;
    // }
}