<div class="background container">
    <div>
        <div class="line"></div>
        <div>
            <h1 class="paragraph lightGray" style="position: absolute;">Learn more about us</h1>
        </div>
        <div class="buttonContainer">
            <a class="readMore paragraph" mat-raised-button routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} target="_self">
                <span class="material-symbols-outlined"> book_2 </span>
                Read More
            </a>
        </div>
</div>
</div>
<div class="navyBg" style="height:600px; display: flex; justify-content: center;">
    <div class="medBlueBg infoContainer">
        <div style="display: inline-flex;">
            <img class="crashLanding" src="../../images/Crash-Landing-Final.png">
        </div>
        <div class="center" style="padding-left: 30px;">
            <h1 class="paragraph lightBlue bold">Crash Landing is out NOW!</h1>
            <h4 class="paragraph lightBlue bold">
                Crash Landing is OUT NOW! Dive into our latest single, available on all streaming platforms. We’ve poured our hearts into evolving our sound and are thrilled to take you along on our new artistic journey.<br><br>
                Want to support the band? Share this with your friends!<br><br>             
                Thank you for your incredible support - it fuels us.
            </h4>
            <a class="button paragraph bold" mat-raised-button routerLink="/music" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} target="_self">
                Music
            </a>
        </div>
    </div>
</div>
<div class="lightBlueBg" style="height: 600px;">

</div>
<div class="navyBg" style="height:600px; display: flex; justify-content: center;">
    <div class="infoContainer">
        <div style="display: inline-flex;">
            <img class="intiative" src="../../images/jaaye2024-initiative.png">
        </div>
        <div class="center" style="align-content: center; padding-left: 30px;">
            <div class="shortLine"></div>
            <h1 class="paragraph lightGray bold">#jaaye2024 initiative</h1>
            <h4 class="paragraph lightBlue bold">Free live music in the Pittsburgh area for summer 2024 only!</h4>
            <a class="button paragraph bold" mat-raised-button routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} target="_self">
                Contact Us
            </a>
        </div>
    </div>
</div>
