<div class="background container">
    <div class="readMoreContainer">      
        <div>
            <div class="line"></div>
            <div class="readMoreText">Learn more about us</div>
        </div>
        <div class="buttonContainer">
            <a class="readMore" mat-raised-button routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} target="_self">
                <span class="material-symbols-outlined"> book_2 </span>
                Read More
            </a>
        </div>
    </div>
</div>
<div class="primaryDarkBg" style="display: flex; justify-content: center;">
    <div class="primaryMediumBg infoContainer">
    </div>
</div>
<div class="primaryLightBg" style="height: 600px;">

</div>
<div class="primaryMediumBg" style="text-align: center;">
    <div style="font-size: 35px; padding-top: 30px;">Join our Patreon</div>
    <div style="font-size: 15px; padding-top: 30px;">Gain access to behind-the-scenes content, sneak peaks, and more on our FREE Patreon</div>
    <a class="patreon" style=" margin: 30px;" mat-raised-button href="https://www.patreon.com/Jaaye" target="_blank">Patreon</a>
</div>
