@import '../../styles.scss';

.background {
    background-image: url("../../images/Jaaye Photoshoot 2 (47 of 67).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.container {
    justify-content: center !important;
}

.readMoreText {
    color: $primaryDark;
    font-size: 20px;
    text-shadow: 0.5px 0.5px 1px $secondaryDark !important;
    position: relative;
}

a.readMore {
    background-color: $primaryDark !important;
    color: $primaryLight !important;
    height: 50px;
    text-shadow: 0.5px 0.5px 1px $secondaryDark !important;
}

a:hover.readMore {
    background-color: $transparent !important;
    color: $primaryDark !important;
    text-shadow: 0.5px 0.5px 1px $secondaryDark !important;
}

.readMoreContainer {
    padding: 20px;
    background-color: $transparent;
    border-radius: 10px;
    margin-bottom: 50px;
}

.line {
    width: 150px;
    position: relative;
    border: 1px solid $primaryDark;
}

.buttonContainer {
    position: relative;
    margin-top: 20px;
}

/* a.button {
    background-color: $primaryLight !important;
    color: $primaryDark !important;
    text-shadow: none !important;
    height: 50px;
} */

a:hover.button {
    background-color: $transparent !important;
}

.infoContainer {
    height: 450px;
    width: 50%;
    display: flex;
    margin: auto;
    padding: 20px;
}

.shortLine {
    width: 50px !important;
    height: 0;
    border: 1px solid $secondaryDark;
    margin: 3px;
    display:inline-block;
}

a.patreon {
    background-color: $primaryDark !important;
    color: $secondaryDark !important;
    text-shadow: none !important;
    height: 50px;
    font-size: 20px;
}

@media (max-width: 1000px) {

}